@font-face {
    font-family: "timer";
    src: url("fonts/CursedTimerUlil-Aznm.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: center;
}

.element {
    margin: 2rem 0;
    width: 300px;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Verdana';
}

h2 {
    width: min(10rem, 50%);
    font-family: "timer";
    color: #F94F6D;
    font-size: 3rem;
    padding: 1rem;
    margin: 0.5rem auto;
    background-color: black;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "timer";
    font-size: 1.5rem;
    color: white;
    border-color: white;
    padding: 0.3rem;
    margin: 0.2rem;
}

.clear {
    margin-top: 0.75rem;
    color: #00FF00;
    border-color: #00FF00;
    background-color: rgba(0, 255, 0, 0.2);
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
